@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


body{
    background-color: #A6F2DB;
}
header{
    display: flex;
    background-color: teal;
justify-content: space-around;
    margin-bottom: 40px;

}

h1{
    font-size: 30px;
    color: white;
    padding: 12px;
    padding-left:80px;
}

img{
    width: 200px;

}
 

h1.hours{
   color:#A9F1DF;
   font-size: 40px;
}




table{
  border: 1px solid black;
}

td{
   padding :10px;
   border: 1px solid black;
}

th{
   font-size: larger;
   color: black;
   font-weight: bolder;
   border: 1px solid black;
}



#totals {
   color: #000;
   font-size: larger;
   font-weight: bolder;
}

a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px;
}
 


form{
    
   
    text-align: center;
    padding: 20px;
}
fieldset{
    border: 1px solid black;
    margin: 30px;
}
legend{
    font-size: 30px;
    color: black;
    font-family: 'Acme';
}

input{
    margin: 20px;
    padding: 10px;
}

button{
    padding: 20px;
    background-color: teal;
    color: white;
}

table{
    background-color: white;
    margin:10px;
    font-family: 'Acme';
}

fieldset{
    background-color:lightgrey;
}