body{
    background-color: #A9F1DF;
}

header{
    display: flex;
   align-items: center;
    justify-content: space-between;
    background-color: #A6F2DB;
    margin-bottom: 20px;
}
header img {
    width:200px;
}
header h1{
    font-size: 30px;
    font-weight: bold;
}
header a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    padding-right: 10px;
}


h2.cityName{
    font-weight: bold;
}


.hero-image{
    width: 100%;
}
.back-div{
    background-color: #4F4E79;
    border-radius: 12px;
    margin: 10px;
}
.back-div h1,.tag1{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
}
.locations{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60;
    margin-bottom: 10px;
    gap: 30px;
    padding: 30px;
}
.city{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    
}

.div{
    width: 70%;
    background-color: #4F4E79;
    border-radius: 12px;
}
.rd-row{
    display: flex;

}

.open{
    font-size: 40px;
    color:blanchedalmond;
    text-align: center;
}


.contact{
    display: flex;
    justify-content: space-around;
}
.contact  img.social{
    width: 30px;
}
footer{
    width: 100%;
    padding-top: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #A6F2DB;
   
}
nav  {
    font-size: 30px;
    color: white;
    padding: 12px;
    padding-left:80px;
}


.div .time{
    padding: 80px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 40px;

}
